.nav-bar-1{
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-mode-btn{
    width:1.5rem;
}
.nav-title{
    width: 20rem;
}
.mode-btn{
    height: 1.5rem;
    width: 100%;
    color: aqua;
    border-radius: 0.3rem;
    outline: 2px solid aqua;
}
.btn-light{
    background-color:white ;
}
.btn-dark{
    background-color: rgb(48, 43, 43);
    
}
